body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #0a0a0a;
}

header {
    background: #9b2c2c;
    color: #000000;
    padding: 10px 0;
    text-align: center;
}

section {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #7e7d7d;
    color: #3d3030;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#info {
    padding: 20px;
    margin: 10px 0;
    background: #d6cfcf;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(82, 79, 79, 0.1);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.hidden {
    display: none;
}
